In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Hitesh\Desktop\pandas\hitesh1.csv")
print(df)

             time  tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres
0      1990-01-01  20.1   NaN  28.0   0.0   NaN    NaN   NaN   NaN     NaN  \
1      1990-01-02  20.7  16.4   NaN   0.0   NaN    NaN   NaN   NaN     NaN
2      1990-01-03  20.7  16.0  27.4   0.0   NaN    NaN   NaN   NaN     NaN
3      1990-01-04  18.8   NaN  28.0   0.0   NaN    NaN   NaN   NaN     NaN
4      1990-01-05  19.8  11.0  28.2   0.0   NaN    NaN   NaN   NaN     NaN
...           ...   ...   ...   ...   ...   ...    ...   ...   ...     ...
11930  2022-08-31  29.2  26.3  33.0   9.0   NaN  186.0   8.2   NaN  1006.6
11931  2022-09-01  29.6  27.0  33.0   2.1   NaN  190.0   9.5   NaN  1006.8
11932  2022-09-02  29.7  26.3  33.0   3.3   NaN  198.0   9.5   NaN  1007.3
11933  2022-09-03  29.2  26.1  34.0   9.7   NaN  215.0   8.5   NaN  1005.5
11934  2022-09-04  27.6  25.9  31.6  12.8   NaN  214.0   8.6   NaN  1004.9

       tsun
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
...     ...
11930   NaN
11931   NaN
11932   NaN
11933   NaN
11934   NaN

[11935 rows x 11 columns]

In [1]:
df.conds.unique()

NameError: name 'df' is not defined

In [ ]:
print(df.columns)

Index(['datetime_utc', 'conds', 'dewptm', 'fog', 'hail', 'heatindexm', 'hum',
       'precipm', 'pressurem', 'rain', 'snow', 'tempm', 'thunder', 'tornado',
       'vism', 'wdird', 'wdire', 'wgustm', 'windchillm', 'wspdm'],
      dtype='object')

In [ ]:
print(df['conds'])

0         Smoke
1         Smoke
2         Smoke
3         Smoke
4         Smoke
          ...
100985     Haze
100986     Haze
100987     Haze
100988     Haze
100989     Haze
Name: conds, Length: 100990, dtype: object

In [ ]:
print(df[['conds', 'tempm']])

        conds  tempm
0       Smoke   30.0
1       Smoke   28.0
2       Smoke   24.0
3       Smoke   24.0
4       Smoke   23.0
...       ...    ...
100985   Haze   34.0
100986   Haze   38.0
100987   Haze   36.0
100988   Haze   32.0
100989   Haze   30.0

[100990 rows x 2 columns]

In [ ]:
df.loc[df['conds'] == "Haze"]

,datetime_utc,conds,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wgustm,windchillm,wspdm
76,19961104-19:00,Haze,11.0,0,0,NaN,64.0,NaN,1011.0,0,0,18.0,0,0,NaN,0.0,North,NaN,NaN,0.0
77,19961104-21:00,Haze,11.0,0,0,NaN,68.0,NaN,1010.0,0,0,17.0,0,0,1.0,0.0,North,NaN,NaN,0.0
131,19961108-08:00,Haze,6.0,0,0,NaN,23.0,NaN,1014.0,0,0,29.0,0,0,5.0,0.0,North,NaN,NaN,0.0
132,19961108-09:00,Haze,6.0,0,0,NaN,23.0,NaN,1014.0,0,0,29.0,0,0,5.0,0.0,North,NaN,NaN,0.0
133,19961108-10:00,Haze,6.0,0,0,NaN,25.0,NaN,1014.0,0,0,28.0,0,0,5.0,300.0,WNW,NaN,NaN,5.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,20170424-06:00,Haze,17.0,0,0,NaN,25.0,NaN,1005.0,0,0,34.0,0,0,4.0,320.0,NW,NaN,NaN,11.1
100986,20170424-09:00,Haze,14.0,0,0,NaN,16.0,NaN,1003.0,0,0,38.0,0,0,4.0,320.0,NW,NaN,NaN,22.2
100987,20170424-12:00,Haze,12.0,0,0,NaN,14.0,NaN,1002.0,0,0,36.0,0,0,4.0,270.0,West,NaN,NaN,18.5
100988,20170424-15:00,Haze,15.0,0,0,NaN,27.0,NaN,1004.0,0,0,32.0,0,0,2.0,320.0,NW,NaN,NaN,3.7
100989,20170424-18:00,Haze,15.0,0,0,NaN,30.0,NaN,1005.0,0,0,30.0,0,0,2.0,320.0,NW,NaN,NaN,3.7

In [ ]:
df.sort_values('conds')

,datetime_utc,conds,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wgustm,windchillm,wspdm
72089,20080528-09:00,Blowing Sand,13.0,0,0,NaN,18.0,NaN,1000.0,0,0,34.0,0,0,2.00,270.0,West,NaN,NaN,25.9
73954,20090120-06:00,Blowing Sand,10.0,0,0,NaN,53.0,NaN,1020.0,0,0,17.0,0,0,2.00,340.0,NNW,NaN,NaN,25.9
74724,20090427-12:00,Blowing Sand,8.0,0,0,NaN,8.0,NaN,1002.0,0,0,40.0,0,0,2.00,320.0,NW,NaN,NaN,22.2
81930,20111129-09:00,Blowing Sand,13.0,0,0,NaN,37.0,NaN,1011.0,0,0,25.0,0,0,2.00,320.0,NW,NaN,NaN,25.9
90954,20150430-09:00,Blowing Sand,24.0,0,0,NaN,33.0,NaN,1003.0,0,0,39.0,0,0,4.00,90.0,East,NaN,NaN,27.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96473,20160817-09:00,NaN,24.0,0,0,NaN,59.0,NaN,NaN,0,0,31.0,0,0,2.00,320.0,NW,NaN,NaN,7.4
99200,20161213-21:00,NaN,12.0,0,0,NaN,89.0,NaN,1016.0,0,0,13.0,0,0,0.50,290.0,WNW,NaN,NaN,3.7
99567,20161231-15:00,NaN,13.0,0,0,NaN,NaN,NaN,1016.0,0,0,NaN,0,0,0.05,10.0,North,NaN,NaN,59.3
100261,20170205-12:00,NaN,17.0,0,0,NaN,63.0,NaN,1013.0,0,0,22.0,0,0,1.00,50.0,NE,NaN,NaN,3.7
100268,20170206-06:00,NaN,16.0,0,0,NaN,74.0,NaN,1017.0,0,0,20.0,0,0,0.20,270.0,West,NaN,NaN,18.5

In [ ]:
df1=df[df['conds'].isin(['Smoke', 'Clear','Haze','Mostly Cloudy', 'Fog','Rain','Light Rain','Heavy Rain','Mist'])]

In [ ]:
df1

,datetime_utc,conds,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wgustm,windchillm,wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,20170424-06:00,Haze,17.0,0,0,NaN,25.0,NaN,1005.0,0,0,34.0,0,0,4.0,320.0,NW,NaN,NaN,11.1
100986,20170424-09:00,Haze,14.0,0,0,NaN,16.0,NaN,1003.0,0,0,38.0,0,0,4.0,320.0,NW,NaN,NaN,22.2
100987,20170424-12:00,Haze,12.0,0,0,NaN,14.0,NaN,1002.0,0,0,36.0,0,0,4.0,270.0,West,NaN,NaN,18.5
100988,20170424-15:00,Haze,15.0,0,0,NaN,27.0,NaN,1004.0,0,0,32.0,0,0,2.0,320.0,NW,NaN,NaN,3.7
100989,20170424-18:00,Haze,15.0,0,0,NaN,30.0,NaN,1005.0,0,0,30.0,0,0,2.0,320.0,NW,NaN,NaN,3.7

In [ ]:
print(df1)

          datetime_utc  conds  dewptm  fog  hail  heatindexm   hum  precipm  \
0       19961101-11:00  Smoke     9.0    0     0         NaN  27.0      NaN
1       19961101-12:00  Smoke    10.0    0     0         NaN  32.0      NaN
2       19961101-13:00  Smoke    11.0    0     0         NaN  44.0      NaN
3       19961101-14:00  Smoke    10.0    0     0         NaN  41.0      NaN
4       19961101-16:00  Smoke    11.0    0     0         NaN  47.0      NaN
...                ...    ...     ...  ...   ...         ...   ...      ...
100985  20170424-06:00   Haze    17.0    0     0         NaN  25.0      NaN
100986  20170424-09:00   Haze    14.0    0     0         NaN  16.0      NaN
100987  20170424-12:00   Haze    12.0    0     0         NaN  14.0      NaN
100988  20170424-15:00   Haze    15.0    0     0         NaN  27.0      NaN
100989  20170424-18:00   Haze    15.0    0     0         NaN  30.0      NaN

        pressurem  rain  snow  tempm  thunder  tornado  vism  wdird  wdire  \
0          1010.0     0     0   30.0        0        0   5.0  280.0   West
1         -9999.0     0     0   28.0        0        0   NaN    0.0  North
2         -9999.0     0     0   24.0        0        0   NaN    0.0  North
3          1010.0     0     0   24.0        0        0   2.0    0.0  North
4          1011.0     0     0   23.0        0        0   1.2    0.0  North
...           ...   ...   ...    ...      ...      ...   ...    ...    ...
100985     1005.0     0     0   34.0        0        0   4.0  320.0     NW
100986     1003.0     0     0   38.0        0        0   4.0  320.0     NW
100987     1002.0     0     0   36.0        0        0   4.0  270.0   West
100988     1004.0     0     0   32.0        0        0   2.0  320.0     NW
100989     1005.0     0     0   30.0        0        0   2.0  320.0     NW

        wgustm  windchillm  wspdm
0          NaN         NaN    7.4
1          NaN         NaN    NaN
2          NaN         NaN    NaN
3          NaN         NaN    NaN
4          NaN         NaN    0.0
...        ...         ...    ...
100985     NaN         NaN   11.1
100986     NaN         NaN   22.2
100987     NaN         NaN   18.5
100988     NaN         NaN    3.7
100989     NaN         NaN    3.7

[86887 rows x 20 columns]

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86887 entries, 0 to 100989
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datetime_utc  86887 non-null  object
 1   conds         86887 non-null  object
 2   dewptm        86451 non-null  float64
 3   fog           86887 non-null  int64
 4   hail          86887 non-null  int64
 5   heatindexm    25407 non-null  float64
 6   hum           86368 non-null  float64
 7   precipm       0 non-null      float64
 8   pressurem     86684 non-null  float64
 9   rain          86887 non-null  int64
 10  snow          86887 non-null  int64
 11  tempm         86432 non-null  float64
 12  thunder       86887 non-null  int64
 13  tornado       86887 non-null  int64
 14  vism          83001 non-null  float64
 15  wdird         74353 non-null  float64
 16  wdire         74353 non-null  object
 17  wgustm        507 non-null    float64
 18  windchillm    498 non-null    float64
 19  wspdm         84859 non-null  float64
dtypes: float64(11), int64(6), object(3)
memory usage: 13.9+ MB

In [ ]:
for column in df1.columns:
    print(df1[column].value_counts())
    print("*** ***")

19961101-11:00    1
20061012-09:00    1
20061013-09:00    1
20061013-06:00    1
20061013-03:00    1
                 ..
20020218-22:30    1
20020218-21:30    1
20020218-20:30    1
20020218-19:30    1
20170424-18:00    1
Name: datetime_utc, Length: 86887, dtype: int64
*** ***
Haze             47602
Smoke            20760
Mist              9375
Clear             3129
Fog               2760
Mostly Cloudy     1537
Light Rain        1302
Rain               394
Heavy Rain          28
Name: conds, dtype: int64
*** ***
 26.0    5202
 25.0    5099
 24.0    4205
 11.0    4165
 12.0    4074
 13.0    4061
 9.0     4016
 10.0    3930
 14.0    3830
 15.0    3760
 8.0     3685
 7.0     3632
 16.0    3603
 23.0    3429
 17.0    3356
 18.0    3094
 22.0    2902
 27.0    2843
 19.0    2823
 6.0     2740
 21.0    2725
 20.0    2710
 5.0     1996
 4.0     1345
 28.0     900
 3.0      815
 2.0      534
 1.0      311
 29.0     272
 0.0      133
-1.0       64
 30.0      59
-2.0       49
-3.0       26
 31.0      16
-4.0       12
-5.0       12
-7.0        8
-6.0        3
 32.0       3
 33.0       1
-24.0       1
-23.0       1
-8.0        1
 35.0       1
-14.0       1
-21.0       1
-11.0       1
-12.0       1
Name: dewptm, dtype: int64
*** ***
0    84126
1     2761
Name: fog, dtype: int64
*** ***
0    86887
Name: hail, dtype: int64
*** ***
34.5    862
35.6    701
31.9    667
32.7    649
31.2    636
       ...
46.6      1
45.9      1
57.8      1
54.6      1
61.2      1
Name: heatindexm, Length: 191, dtype: int64
*** ***
100.0    2282
94.0     1839
79.0     1833
59.0     1738
89.0     1728
         ...
4.0        10
5.0         8
225.0       1
135.0       1
243.0       1
Name: hum, Length: 100, dtype: int64
*** ***
Series([], Name: precipm, dtype: int64)
*** ***
1014.0     4813
1015.0     4582
1016.0     4423
1012.0     4046
1013.0     3992
           ...
1105.0        1
2.0           1
1801.0        1
1084.0        1
10018.0       1
Name: pressurem, Length: 122, dtype: int64
*** ***
0    85164
1     1723
Name: rain, dtype: int64
*** ***
0    86886
1        1
Name: snow, dtype: int64
*** ***
29.0    5605
28.0    5111
30.0    4984
31.0    4705
27.0    4664
32.0    4160
33.0    4006
26.0    3476
34.0    3322
25.0    3169
35.0    2793
24.0    2737
21.0    2690
23.0    2644
19.0    2477
22.0    2462
20.0    2359
17.0    2241
18.0    2229
15.0    2099
16.0    1950
36.0    1851
13.0    1771
14.0    1756
37.0    1524
12.0    1457
11.0    1354
10.0    1090
38.0     990
9.0      919
39.0     744
8.0      679
40.0     561
7.0      510
41.0     369
6.0      267
42.0     242
43.0     166
5.0      137
44.0      68
4.0       30
45.0      26
46.0      15
47.0      11
3.0        8
72.0       1
63.0       1
1.0        1
62.0       1
Name: tempm, dtype: int64
*** ***
0    86887
Name: thunder, dtype: int64
*** ***
0    86887
Name: tornado, dtype: int64
*** ***
2.00       24632
1.00        8567
3.00        8364
4.00        6826
2.50        5767
3.50        5075
5.00        3166
1.50        2367
2.20        2216
2.80        1919
1.20        1578
4.50        1527
1.40        1192
1.80        1166
1.60         944
0.80         768
0.50         725
1.30         597
1.10         560
2.40         556
1.70         510
0.70         489
6.00         448
0.90         424
0.60         365
0.40         314
2.60         303
0.30         303
0.20         208
0.10         198
2.30         170
2.10         169
2.70         153
0.00         131
7.00         120
8.00          72
1.90          55
2.90          40
50.00          5
5.50           3
55.00          2
10.00          2
9.00           1
6436.00        1
60.00          1
0.05           1
0.02           1
Name: vism, dtype: int64
*** ***
0.0      15317
270.0     5550
320.0     4485
290.0     4198
90.0      3430
         ...
620.0        1
261.0        1
234.0        1
23.0         1
16.0         1
Name: wdird, Length: 61, dtype: int64
*** ***
North       16638
West         9990
East         6339
WNW          6278
NW           6029
ESE          4689
WSW          4653
ENE          3280
SE           3154
SW           2765
NNW          2257
NE           2110
SSE          1810
NNE          1510
SSW          1499
South        1348
Variable        4
Name: wdire, dtype: int64
*** ***
37.0    177
33.3    115
40.7     53
27.8     49
46.3     41
29.6     20
44.4     12
31.5      8
55.6      5
51.9      5
25.9      4
64.8      4
42.6      3
48.2      2
50.0      2
59.3      2
35.2      2
83.3      1
92.6      1
74.1      1
Name: wgustm, dtype: int64
*** ***
7.3    72
6.2    63
6.8    59
5.7    39
6.4    32
5.2    29
5.0    26
6.1    24
4.5    23
4.0    23
4.9    22
3.9    21
3.3    19
5.8    13
3.7    10
5.5     7
4.3     7
2.1     3
5.3     3
2.8     3
Name: windchillm, dtype: int64
*** ***
0.0      25434
7.4       9220
5.6       9211
9.3       8380
3.7       7181
         ...
122.2        1
133.3        1
72.2         1
163.0        1
205.6        1
Name: wspdm, Length: 78, dtype: int64
*** ***

In [ ]:
df1.describe()

,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wgustm,windchillm,wspdm
count,86451.000000,86887.000000,86887.0,25407.000000,86368.000000,0.0,8.668400e+04,86887.000000,86887.000000,86432.000000,86887.0,86887.0,83001.000000,74353.000000,507.000000,498.000000,84859.000000
mean,15.928607,0.031777,0.0,35.367296,57.504979,NaN,2.103494e+03,0.019830,0.000012,25.517933,0.0,0.0,2.470369,161.714685,37.152663,5.685141,7.381611
std,7.117158,0.175407,0.0,4.959723,22.318628,NaN,3.432523e+05,0.139418,0.003393,7.924167,0.0,0.0,22.365974,119.759946,7.263451,1.204226,12.087205
min,-24.000000,0.000000,0.0,26.800000,4.000000,NaN,-9.999000e+03,0.000000,0.000000,1.000000,0.0,0.0,0.000000,0.000000,25.900000,2.100000,0.000000
25%,10.000000,0.000000,0.0,31.300000,40.000000,NaN,1.002000e+03,0.000000,0.000000,20.000000,0.0,0.0,1.800000,50.000000,33.300000,4.900000,0.000000
50%,16.000000,0.000000,0.0,34.700000,58.000000,NaN,1.008000e+03,0.000000,0.000000,27.000000,0.0,0.0,2.000000,150.000000,37.000000,6.100000,5.600000
75%,23.000000,0.000000,0.0,39.000000,75.000000,NaN,1.014000e+03,0.000000,0.000000,31.000000,0.0,0.0,3.000000,270.000000,40.700000,6.800000,11.100000
max,35.000000,1.000000,0.0,73.600000,243.000000,NaN,1.010614e+08,1.000000,1.000000,72.000000,0.0,0.0,6436.000000,960.000000,92.600000,7.300000,1514.900000

In [ ]:
df1.isna().sum()

datetime_utc        0
conds               0
dewptm            436
fog                 0
hail                0
heatindexm      61480
hum               519
precipm         86887
pressurem         203
rain                0
snow                0
tempm             455
thunder             0
tornado             0
vism             3886
wdird           12534
wdire           12534
wgustm          86380
windchillm      86389
wspdm            2028
dtype: int64

In [ ]:
df1['conds'].value_counts()

Haze             47602
Smoke            20760
Mist              9375
Clear             3129
Fog               2760
Mostly Cloudy     1537
Light Rain        1302
Rain               394
Heavy Rain          28
Name: conds, dtype: int64

In [ ]:
df1

,datetime_utc,conds,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wgustm,windchillm,wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,20170424-06:00,Haze,17.0,0,0,NaN,25.0,NaN,1005.0,0,0,34.0,0,0,4.0,320.0,NW,NaN,NaN,11.1
100986,20170424-09:00,Haze,14.0,0,0,NaN,16.0,NaN,1003.0,0,0,38.0,0,0,4.0,320.0,NW,NaN,NaN,22.2
100987,20170424-12:00,Haze,12.0,0,0,NaN,14.0,NaN,1002.0,0,0,36.0,0,0,4.0,270.0,West,NaN,NaN,18.5
100988,20170424-15:00,Haze,15.0,0,0,NaN,27.0,NaN,1004.0,0,0,32.0,0,0,2.0,320.0,NW,NaN,NaN,3.7
100989,20170424-18:00,Haze,15.0,0,0,NaN,30.0,NaN,1005.0,0,0,30.0,0,0,2.0,320.0,NW,NaN,NaN,3.7

In [ ]:
import numpy as np
df1.replace(np.nan, 0)

,datetime_utc,conds,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wgustm,windchillm,wspdm
0,19961101-11:00,Smoke,9.0,0,0,0.0,27.0,0.0,1010.0,0,0,30.0,0,0,5.0,280.0,West,0.0,0.0,7.4
1,19961101-12:00,Smoke,10.0,0,0,0.0,32.0,0.0,-9999.0,0,0,28.0,0,0,0.0,0.0,North,0.0,0.0,0.0
2,19961101-13:00,Smoke,11.0,0,0,0.0,44.0,0.0,-9999.0,0,0,24.0,0,0,0.0,0.0,North,0.0,0.0,0.0
3,19961101-14:00,Smoke,10.0,0,0,0.0,41.0,0.0,1010.0,0,0,24.0,0,0,2.0,0.0,North,0.0,0.0,0.0
4,19961101-16:00,Smoke,11.0,0,0,0.0,47.0,0.0,1011.0,0,0,23.0,0,0,1.2,0.0,North,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,20170424-06:00,Haze,17.0,0,0,0.0,25.0,0.0,1005.0,0,0,34.0,0,0,4.0,320.0,NW,0.0,0.0,11.1
100986,20170424-09:00,Haze,14.0,0,0,0.0,16.0,0.0,1003.0,0,0,38.0,0,0,4.0,320.0,NW,0.0,0.0,22.2
100987,20170424-12:00,Haze,12.0,0,0,0.0,14.0,0.0,1002.0,0,0,36.0,0,0,4.0,270.0,West,0.0,0.0,18.5
100988,20170424-15:00,Haze,15.0,0,0,0.0,27.0,0.0,1004.0,0,0,32.0,0,0,2.0,320.0,NW,0.0,0.0,3.7
100989,20170424-18:00,Haze,15.0,0,0,0.0,30.0,0.0,1005.0,0,0,30.0,0,0,2.0,320.0,NW,0.0,0.0,3.7

In [ ]:
df1[df1.dewptm < 0]

,datetime_utc,conds,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wdire,wgustm,windchillm,wspdm
304,19961116-07:00,Clear,-1.0,0,0,NaN,19.0,NaN,1017.0,0,0,24.0,0,0,7.0,280.0,West,NaN,NaN,22.2
328,19961117-09:00,Smoke,-1.0,0,0,NaN,17.0,NaN,1016.0,0,0,26.0,0,0,4.5,270.0,West,NaN,NaN,14.8
329,19961117-10:00,Smoke,-1.0,0,0,NaN,18.0,NaN,1016.0,0,0,25.0,0,0,4.0,270.0,West,NaN,NaN,7.4
579,19961129-09:00,Smoke,-4.0,0,0,NaN,16.0,NaN,1014.0,0,0,23.0,0,0,5.0,300.0,WNW,NaN,NaN,14.8
597,19961130-08:00,Smoke,-1.0,0,0,NaN,22.0,NaN,1016.0,0,0,22.0,0,0,4.0,260.0,West,NaN,NaN,24.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82433,20120208-12:00,Haze,-2.0,0,0,NaN,17.0,NaN,1014.0,0,0,16.0,0,0,4.0,320.0,NW,NaN,NaN,11.1
82480,20120215-06:00,Haze,-1.0,0,0,NaN,15.0,NaN,1017.0,0,0,19.0,0,0,2.0,340.0,NNW,NaN,NaN,11.1
82488,20120216-06:00,Haze,-2.0,0,0,NaN,15.0,NaN,1017.0,0,0,19.0,0,0,2.0,340.0,NNW,NaN,NaN,14.8
89827,20141210-09:00,Haze,-4.0,0,0,NaN,8.0,NaN,1016.0,0,0,24.0,0,0,4.0,290.0,WNW,NaN,NaN,22.2
93661,20160226-08:00,Haze,-12.0,0,0,NaN,6.0,NaN,1019.0,0,0,29.0,0,0,3.0,160.0,SSE,NaN,NaN,7.4

In [ ]:
dfsmoke = df1[df1['conds'] == 'Smoke']
dfHaze = df1[df1['conds'] == 'Haze']
dfMist = df1[df1['conds'] == 'Mist']
dfClear = df1[df1['conds'] == 'Clear']
dfFog = df1[df1['conds'] == 'Fog']
dfMostlyCloudy = df1[df1['conds'] == 'Mostly Cloudy']
dfLightRain = df1[df1['conds'] == 'Light Rain']
dfRain = df1[df1['conds'] == 'Rain']
dfHeavyRain = df1[df1['conds'] == 'Heavy Rain']

In [ ]:
dfHaze.describe()

,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wgustm,windchillm,wspdm
count,47399.000000,47602.0,47602.0,20422.000000,47351.000000,0.0,4.747200e+04,47602.0,47602.0,47368.000000,47602.0,47602.0,46238.000000,42209.000000,356.000000,26.000000,46875.000000
mean,18.238212,0.0,0.0,35.850264,52.045575,NaN,3.070405e+03,0.0,0.0,29.250549,0.0,0.0,3.011823,174.599209,36.831461,5.700000,8.793094
std,6.668606,0.0,0.0,4.885322,20.344425,NaN,4.638349e+05,0.0,0.0,5.774699,0.0,0.0,29.935590,113.780128,7.566004,1.031891,12.308337
min,-24.000000,0.0,0.0,26.800000,4.000000,NaN,-9.999000e+03,0.0,0.0,6.000000,0.0,0.0,0.000000,0.000000,25.900000,4.000000,0.000000
25%,13.000000,0.0,0.0,31.900000,36.000000,NaN,1.000000e+03,0.0,0.0,26.000000,0.0,0.0,2.000000,80.000000,33.300000,5.000000,3.700000
50%,19.000000,0.0,0.0,35.500000,52.000000,NaN,1.004000e+03,0.0,0.0,30.000000,0.0,0.0,2.500000,170.000000,37.000000,5.600000,7.400000
75%,24.000000,0.0,0.0,39.200000,66.000000,NaN,1.010000e+03,0.0,0.0,33.000000,0.0,0.0,3.500000,280.000000,37.000000,6.400000,13.000000
max,35.000000,0.0,0.0,73.600000,243.000000,NaN,1.010614e+08,0.0,0.0,63.000000,0.0,0.0,6436.000000,960.000000,92.600000,7.300000,1492.700000

In [ ]:
dfMist.describe()

,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wgustm,windchillm,wspdm
count,9362.000000,9375.0,9375.0,20.000000,9350.000000,0.0,9319.000000,9375.0,9375.0,9353.000000,9375.0,9375.0,9365.000000,3394.000000,0.0,19.000000,9365.000000
mean,16.919034,0.0,0.0,32.490000,81.017433,NaN,1010.331688,0.0,0.0,19.493425,0.0,0.0,1.513134,188.288156,NaN,5.894737,2.732397
std,6.881811,0.0,0.0,3.205735,8.283782,NaN,154.309130,0.0,0.0,7.177213,0.0,0.0,1.156702,99.868399,NaN,0.909502,6.165698
min,0.000000,0.0,0.0,29.200000,30.000000,NaN,-9999.000000,0.0,0.0,3.000000,0.0,0.0,0.100000,0.000000,NaN,4.000000,0.000000
25%,11.000000,0.0,0.0,30.100000,75.000000,NaN,1004.000000,0.0,0.0,14.000000,0.0,0.0,1.000000,90.000000,NaN,5.200000,0.000000
50%,16.000000,0.0,0.0,31.900000,81.000000,NaN,1013.000000,0.0,0.0,18.000000,0.0,0.0,1.000000,220.000000,NaN,5.800000,0.000000
75%,24.000000,0.0,0.0,32.900000,87.000000,NaN,1016.000000,0.0,0.0,27.000000,0.0,0.0,2.000000,270.000000,NaN,6.800000,3.700000
max,29.000000,0.0,0.0,42.100000,225.000000,NaN,11019.000000,0.0,0.0,36.000000,0.0,0.0,55.000000,350.000000,NaN,7.300000,175.900000

In [ ]:
dfClear.describe()

,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wgustm,windchillm,wspdm
count,3110.000000,3129.000000,3129.0,898.000000,3108.000000,0.0,3129.000000,3129.0,3129.0,3111.000000,3129.0,3129.0,2905.000000,3128.000000,77.000000,83.000000,3025.000000
mean,10.985852,0.000320,0.0,36.993430,46.898327,NaN,924.278971,0.0,0.0,27.211508,0.0,0.0,2.810981,180.175831,38.406494,5.491566,11.189686
std,5.682253,0.017877,0.0,4.692168,30.154019,NaN,1010.289152,0.0,0.0,11.609992,0.0,0.0,1.782263,121.044124,5.399033,1.200834,28.778590
min,-4.000000,0.000000,0.0,27.000000,9.000000,NaN,-9999.000000,0.0,0.0,1.000000,0.0,0.0,0.300000,0.000000,25.900000,2.800000,0.000000
25%,7.000000,0.000000,0.0,33.600000,21.000000,NaN,1001.000000,0.0,0.0,15.000000,0.0,0.0,1.500000,50.000000,37.000000,4.500000,5.600000
50%,10.000000,0.000000,0.0,36.750000,34.000000,NaN,1007.000000,0.0,0.0,31.000000,0.0,0.0,2.400000,230.000000,37.000000,5.700000,9.300000
75%,15.000000,0.000000,0.0,40.500000,82.000000,NaN,1014.000000,0.0,0.0,37.000000,0.0,0.0,3.500000,280.000000,40.700000,6.400000,16.700000
max,29.000000,1.000000,0.0,59.300000,100.000000,NaN,10998.000000,0.0,0.0,47.000000,0.0,0.0,9.000000,380.000000,55.600000,7.300000,1514.900000

In [ ]:
dfFog.describe()

,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wgustm,windchillm,wspdm
count,2716.000000,2760.0,2760.0,4.000000,2715.000000,0.0,2760.000000,2760.0,2760.0,2730.000000,2760.0,2760.0,1731.000000,2760.000000,0.0,301.000000,2575.000000
mean,9.321797,1.0,0.0,34.125000,94.504236,NaN,887.804348,0.0,0.0,10.240659,0.0,0.0,0.447314,110.064493,NaN,5.701661,3.889359
std,2.932434,0.0,0.0,1.571358,7.584131,NaN,1270.652505,0.0,0.0,3.208573,0.0,0.0,0.354243,124.562580,NaN,1.214344,4.229793
min,0.000000,1.0,0.0,31.900000,44.000000,NaN,-9999.000000,0.0,0.0,3.000000,0.0,0.0,0.000000,0.000000,NaN,2.100000,0.000000
25%,7.000000,1.0,0.0,33.850000,93.000000,NaN,1016.000000,0.0,0.0,8.000000,0.0,0.0,0.200000,0.000000,NaN,4.900000,0.000000
50%,9.000000,1.0,0.0,34.500000,100.000000,NaN,1018.000000,0.0,0.0,10.000000,0.0,0.0,0.400000,0.000000,NaN,6.100000,3.700000
75%,11.000000,1.0,0.0,34.775000,100.000000,NaN,1020.000000,0.0,0.0,12.000000,0.0,0.0,0.600000,250.000000,NaN,6.800000,7.400000
max,27.000000,1.0,0.0,35.600000,100.000000,NaN,10211.000000,0.0,0.0,29.000000,0.0,0.0,6.000000,360.000000,NaN,7.300000,18.500000

In [ ]:
dfMostlyCloudy.describe()

,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wgustm,windchillm,wspdm
count,1529.000000,1537.0,1537.0,901.000000,1529.000000,0.0,1537.000000,1537.0,1537.0,1532.000000,1537.0,1537.0,1473.000000,1537.000000,29.000000,2.000000,1486.000000
mean,19.860039,0.0,0.0,36.443951,74.790713,NaN,853.892648,0.0,0.0,25.906658,0.0,0.0,2.623761,136.525699,38.868966,4.600000,8.947106
std,6.972743,0.0,0.0,4.676214,23.254975,NaN,1278.398833,0.0,0.0,8.190165,0.0,0.0,1.559327,114.756443,6.071956,0.848528,7.532620
min,1.000000,0.0,0.0,26.800000,11.000000,NaN,-9999.000000,0.0,0.0,7.000000,0.0,0.0,0.400000,0.000000,27.800000,4.000000,0.000000
25%,13.000000,0.0,0.0,32.700000,63.000000,NaN,1001.000000,0.0,0.0,18.000000,0.0,0.0,1.500000,20.000000,37.000000,4.300000,3.700000
50%,23.000000,0.0,0.0,35.600000,84.000000,NaN,1004.000000,0.0,0.0,28.000000,0.0,0.0,2.200000,110.000000,37.000000,4.600000,7.400000
75%,26.000000,0.0,0.0,39.700000,89.000000,NaN,1011.000000,0.0,0.0,31.000000,0.0,0.0,3.000000,250.000000,46.300000,4.900000,13.000000
max,31.000000,0.0,0.0,51.400000,100.000000,NaN,1086.000000,0.0,0.0,43.000000,0.0,0.0,8.000000,360.000000,51.900000,5.200000,114.800000

In [ ]:
dfLightRain.describe()

,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wgustm,windchillm,wspdm
count,1285.000000,1302.0,1302.0,319.000000,1283.000000,0.0,1295.000000,1302.0,1302.0,1296.000000,1302.0,1302.0,1278.000000,1082.000000,19.000000,0.0,1285.000000
mean,22.832685,0.0,0.0,33.458621,84.218239,NaN,916.791737,1.0,0.0,25.576389,0.0,0.0,1.991706,139.898336,36.252632,NaN,8.748560
std,4.883616,0.0,0.0,4.218048,15.440109,NaN,1006.563279,0.0,0.0,4.918206,0.0,0.0,1.667219,98.805487,8.808857,NaN,8.205809
min,8.000000,0.0,0.0,27.700000,14.000000,NaN,-9999.000000,1.0,0.0,9.000000,0.0,0.0,0.200000,0.000000,27.800000,NaN,0.000000
25%,21.000000,0.0,0.0,30.700000,79.000000,NaN,999.000000,1.0,0.0,25.000000,0.0,0.0,1.500000,70.000000,27.800000,NaN,3.700000
50%,25.000000,0.0,0.0,32.000000,89.000000,NaN,1002.000000,1.0,0.0,27.000000,0.0,0.0,2.000000,110.000000,33.300000,NaN,7.400000
75%,26.000000,0.0,0.0,34.500000,94.000000,NaN,1005.000000,1.0,0.0,28.000000,0.0,0.0,2.000000,220.000000,40.700000,NaN,13.000000
max,33.000000,0.0,0.0,61.200000,100.000000,NaN,11001.000000,1.0,0.0,38.000000,0.0,0.0,55.000000,360.000000,55.600000,NaN,111.100000

In [ ]:
dfRain.describe()

,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wgustm,windchillm,wspdm
count,389.000000,394.0,394.0,141.000000,389.000000,0.0,392.000000,394.000000,394.000000,389.000000,394.0,394.0,382.000000,377.000000,7.000000,0.0,385.000000
mean,21.727506,0.0,0.0,32.972340,86.902314,NaN,863.375000,0.997462,0.002538,24.282776,0.0,0.0,1.992147,134.652520,35.414286,NaN,10.186234
std,5.736283,0.0,0.0,3.482776,15.762925,NaN,1236.273319,0.050379,0.050379,5.385857,0.0,0.0,2.594076,103.994111,4.707947,NaN,8.043783
min,2.000000,0.0,0.0,27.500000,19.000000,NaN,-9999.000000,0.000000,0.000000,11.000000,0.0,0.0,0.200000,0.000000,29.600000,NaN,0.000000
25%,18.000000,0.0,0.0,30.700000,83.000000,NaN,999.000000,1.000000,0.000000,24.000000,0.0,0.0,1.200000,50.000000,33.300000,NaN,3.700000
50%,24.000000,0.0,0.0,31.800000,94.000000,NaN,1002.000000,1.000000,0.000000,26.000000,0.0,0.0,2.000000,110.000000,33.300000,NaN,9.300000
75%,26.000000,0.0,0.0,35.000000,100.000000,NaN,1007.000000,1.000000,0.000000,27.000000,0.0,0.0,2.400000,230.000000,37.000000,NaN,14.800000
max,29.000000,0.0,0.0,46.100000,100.000000,NaN,1022.000000,1.000000,1.000000,37.000000,0.0,0.0,50.000000,360.000000,44.400000,NaN,46.300000

In [ ]:
dfHeavyRain.describe()

,dewptm,fog,hail,heatindexm,hum,precipm,pressurem,rain,snow,tempm,thunder,tornado,vism,wdird,wgustm,windchillm,wspdm
count,28.000000,28.0,28.0,7.000000,28.000000,0.0,28.000000,28.0,28.0,28.000000,28.0,28.0,28.000000,27.000000,4.000000,0.0,28.000000
mean,20.428571,0.0,0.0,30.985714,84.750000,NaN,1004.714286,1.0,0.0,23.464286,0.0,0.0,1.482143,140.000000,44.875000,NaN,16.396429
std,5.567289,0.0,0.0,4.152681,18.067005,NaN,6.582002,0.0,0.0,6.002975,0.0,0.0,0.652093,93.026051,13.397357,NaN,8.438820
min,12.000000,0.0,0.0,28.000000,40.000000,NaN,995.000000,1.0,0.0,13.000000,0.0,0.0,0.500000,0.000000,37.000000,NaN,0.000000
25%,14.750000,0.0,0.0,28.550000,77.250000,NaN,998.750000,1.0,0.0,16.750000,0.0,0.0,1.000000,95.000000,37.000000,NaN,12.525000
50%,22.000000,0.0,0.0,29.200000,94.000000,NaN,1004.000000,1.0,0.0,26.000000,0.0,0.0,1.400000,110.000000,38.850000,NaN,18.500000
75%,25.000000,0.0,0.0,31.450000,94.750000,NaN,1012.250000,1.0,0.0,28.000000,0.0,0.0,2.000000,200.000000,46.725000,NaN,22.200000
max,29.000000,0.0,0.0,39.700000,100.000000,NaN,1014.000000,1.0,0.0,32.000000,0.0,0.0,3.000000,320.000000,64.800000,NaN,29.600000